@CHARSET "UTF-8";
body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
    max-width:900px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 100%;
    max-width:900px;
    height: 70px;
    background-color: #ffaa9955;
    background-position:center;
    margin-left: auto;
    margin-right: auto;

}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    font-size: 24px;
    display: inline;
    font-weight:bold;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight:bold;
}

h3 {
    font-size: larger;
    font-weight:bold;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:#ffffff;
    width:100%;
    text-align:center;
    left:10px;
    display:inline-block;
}

.index{
    position: relative;
    height:500px;
}
.index:after{
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}
.index h3{
    width:20%;
    left:45%;
    top:11%;
    position:absolute;
}
.index p{
    width:27%;
    left:43%;
    top:14%;
    position:absolute;
}


.index img{
    width:73%;
}

#index_comment{
    width: 27%;
    float:right;
    font-size:10px;
    height:450px;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: #24738e;
    background-coler:#c0c0c0;

}

table, tr, th, td {
    border: 1px solid #cccccc;
}
th{
    background-color:#ffffff;
}

table {
    height:auto;
    table-layout: fixed;
    width:100%

}

th {
    padding: 10px 2%;
}

td {
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}
table#employee_list th {
    width: 30%;
    padding: 10px 2%;
}

table#employee_list td {
    width: 29%;
    padding: 10px 2%;
}
ul li{
    display:inline-block;
}
.img_index{
    width:200px;
    height:25%;
}